<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>ReportLab Fund Reporting Demo</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

  <!-- Le styles -->
  <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.2.2/css/bootstrap-combined.min.css" rel="stylesheet">
  <!---scripts--->
   <script src="http://code.jquery.com/jquery-1.9.0.min.js"></script>
  </head>
  <body data-spy="scroll" data-target=".subnav" data-offset="50">
    

<div class="navbar">
  <div class="navbar-inner">
    <a class="brand" href="/">FundReports</a>        
  </div>

</div>

    
    {% block content %}
    
    {% endblock %}
    

  </body>
</html>
